 .sidebar-profile .sidebar-profile-picture  {
width: 250px !important;
height: auto !important;
border-radius: 1px !important;
}
img.author-thumb {
	width: 100px !important;
}
#about #about-card #about-card-picture {
width: 250px !important;
height: auto !important;
border-radius: 1px !important;
}
.sidebar-profile-name, .sidebar-profile-bio{
}
.sidebar-container {
}

#sidebar {

}

#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
}
#main-navbar {
	background-color: #72609e!important;
}